extends templates/page.pug

block head
  title Index page

block main
  h1 Index page
  a(href='assets/img/example.jpg', data-fancybox='gallery', data-caption='This is example image')
    img(src='assets/img/example.jpg')
